/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 537px;
    background: #313131;
    margin: 0 auto;
    padding: 17px 0;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
    border-bottom: 1px solid grey;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    padding: 0;
    width: 400px;
    margin: 0 auto;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin: 0 auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;

}
.slick-center.slick-slide img {
    border: none;
    margin-top: 3px;
}
.slick-slide img {
    border: 8px solid transparent;
    moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    max-width: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #313131;
    width: 77px;
    display: block;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.slick-prev:before {
    display: block;
    content: "";
    position: absolute;
    width: 50px;
    right: -50px;
    top: 0;
    bottom: 0;
    z-index: 12;
    background: -moz-linear-gradient(left, rgba(49,49,49,1) 0%, rgba(49,49,49,0) 100%);
    background: -webkit-linear-gradient(left, rgba(49,49,49,1) 0%,rgba(49,49,49,0) 100%);
    background: linear-gradient(to right, rgba(49,49,49,1) 0%,rgba(49,49,49,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#00313131',GradientType=1 );
}
.slick-prev:after {
    display: block;
    content: "";
    background: url('../img/arrow-left.png') 0 0 no-repeat;
    width: 42px;
    height: 43px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 21px;
    z-index: 10;
}
.slick-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #313131;
    width: 77px;
    display: block;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.slick-next:before {
    display: block;
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 12;
    background: -moz-linear-gradient(left, rgba(49,49,49,0) 0%, rgba(49,49,49,1) 100%);
    background: -webkit-linear-gradient(left, rgba(49,49,49,0) 0%,rgba(49,49,49,1) 100%);
    background: linear-gradient(to right, rgba(49,49,49,0) 0%,rgba(49,49,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00313131', endColorstr='#313131',GradientType=1 );
}
.slick-next:after {
    content: "";
    background: url('../img/arrow-right.png') 0 0 no-repeat;
    display: block;
    width: 42px;
    height: 43px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    right: 18px;
    z-index: 11;
}
.slick-disabled {
    cursor: auto;
}
